<!DOCTYPE html>
<html>
<head>
  <title>MedalKore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<%= render 'layouts/menu' %>
=======

>>>>>>> 60efaeb5feeb7b4d433165f10f07770b672e61d6
<%= yield %>

</body>
</html>
